.social h3 {
  color: var(--text-hover, #d8bdeb);
  font-size: var(--rem-1-875, 1.875rem);

  margin: auto;
  text-align: center;
}

.social ul {
  margin-top: var(--rem-6-75, 6.75rem);
  margin-bottom: 10rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: var(--rem-7-44, 7.44rem);
}

.social a::before {
  content: '';

  display: inline-block;
  width: var(--rem-5, 5rem);
  aspect-ratio: 1;

  background-image: var(--_icon);
  background-position: center center;
  background-size: contain;

  object-fit: contain;
  overflow: hidden;
}
