footer {
  background-color: var(--primary-color-13);
}

footer .main-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

footer .about {
  max-width: 13.5rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  gap: var(--rem-4-25, 4.25rem);
}

footer .logo {
  font-size: var(--rem-2, 2rem);
}

footer .quick-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

  gap: var(--rem-7, 7rem);
}

footer .links-head {
  font-size: 1.5rem;

  margin-bottom: var(--rem-3, 3rem);
}

footer .links a {
  margin: 1rem 0;

  color: var(--primary-color-80, #cdc7d1);
  line-height: 1;
  text-decoration: underline;
  font-size: 1.25rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  gap: 0.5rem;
}
